.signup {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0;
}

#success {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #8c8c8c;
    font-size: 13px;
    text-align: center;
}